body{
    font-family: 'Krona One', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 43%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
.link-btn{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(45deg,lightSalmon, tomato);
}
.top-banner{
    /* border: 1px solid red; */
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    page-break-inside: 150px;
}
